<% include ../header.ejs %>
<p></p>
<script src ="http://kit.fontawesome.com/a076d05399.js"></script>
<script src="order.js"></script>

<head> 
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/order.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="p-4 col-12">
  <div class ="form-group col-12 col-md-12 px-0 d-flex">
    <h3 class=" font-weight-bold page-header">Payment</h3>
    <% include add.ejs %>   
  </div>
 
  <table class="table table-bordered table-sm">
    <thead style="background-color: #757574 ; color : white">
      <tr>
        <th><h3><small>Customer Number</small></h3></th>
        <th><h3><small>Cheque Number</small></h3></th>
        <th><h3><small>Payment Date</small></h3></th>
        <th><h3><small>Amount</small></h3></th>
        <th style="width: 6%"></th>
      </tr>
    </thead>
    <tbody style="background-color: #ccccc8 ; color : black">
        <% payments.forEach(function(pm){ %>
        <tr>
          <td><h5><small><%= pm.customerNumber %></small></h5></td>
          <td><h5><small><%= pm.checkNumber %></small></h5></td>
          <td><h5><small><%= pm.paymentDate %></small></h5></td>
          <td><h5><small><%= pm.amount %></small></h5></td>
          <td>
            <% include edit.ejs %>
            <% include delete.ejs %>
          </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ../footer.ejs %>
