<div id="UpdateModal<%= cus._id %>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/customer/update/<%= cus._id %>" method="POST">
                    Customer ID:
                    <input type="text" name="cusId" value="<%= cus._id%>" disabled/>
                    <br /> CustomerName:
                    <input type="text" name="customerName" value="<%= cus.customerName%>" />
                    <br /> Contact first name:
                    <input type="text" name="contactFirstName" value="<%= cus.contactFirstName %>" />
                    <br /> Contact last name:
                    <input type="text" name="contactLastName" value="<%= cus.contactLastName %>" />
                    <br /> Phone number:
                    <input type="text" name="phone" value="<%= cus.phone %>" />
                    <br /> Address Line1:
                    <textarea rows="4" cols="50" name="addressLine1" form="usrform"><%= cus.addressLine1 %></textarea>
                    <br /> Address Line2:
                    <textarea rows="4" cols="50" name="addressLine2" form="usrform"><%= cus.addressLine2 %></textarea>
                    <br /> City:
                    <input type="text" name="city" value="<%= cus.city %>" />
                    <br /> State:
                    <input type="text" name="state" value="<%= cus.state %>" />
                    <br /> Postal code:
                    <input type="text" name="postalCode" value="<%= cus.postalCode %>" />
                    <br /> Country:
                    <input type="text" name="country" value="<%= cus.country %>" />
                    <br /> Employee Number:
                    <input type="number" name="salesRepEmployeeNumber" value="<%= cus.salesRepEmployeeNumber %>" />
                    <br /> Credit limit:
                    <input type="number" name="creditLimit" value="<%= cus.creditLimit %>" />
                    <br /> Point:
                    <input type="number" name="point" value="<%= cus.point %>" />
                    <br />
                    <br />


            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Submit" /></form>
            </div>
        </div>
    </div>
</div>