<% include header.ejs %>
    <% include customerModal.ejs %>
        <div class="container mt-5">
            <div class="row">
                <% customers.forEach(function(cus){ %>
                    <div class="col-sm-4">
                        <div class="mainCard">
                            <img src="/images/cusIcon.svg" alt="" class="avatar" />
                            <div class="empDetail">
                                <h6 class="cardInform">
                                    <b>ID:</b>
                                    <%= cus._id %>
                                </h6>
                                <h6 class="cardInform">
                                    <b>Name:</b>
                                    <%= cus.customerName %>
                                </h6>
                                <h6 class="cardInform">
                                    <b>Phone:</b>
                                    <%= cus.phone %>
                                </h6>
                                <h6 class="cardInform">
                                    <b>Contact:</b>
                                    <%= cus.contactFirstName %>&nbsp;
                                        <%= cus.contactLastName %>
                                </h6>
                                <h6 class="cardInform">
                                    <b>Point:</b>
                                    <%= cus.point %>
                                </h6>
                            </div>
                            <div class="empButton mb-4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#UpdateModal<%= cus._id %>">Update</button>
                                        </div>
                                        <div class="col-sm">
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DelModal<%= cus._id %>">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="/images/card.svg" alt="" class="card" />
                        </div>
                    </div>
                    <% include customerModalupdate.ejs %>
                        <% include customerDel.ejs %>
                            <% }) %>
            </div>
        </div>
        <button type="button" class="buttonAdd button5 addMenu" data-toggle="modal" data-target="#AddModal">Add</button>
        <% include footer.ejs %>