<div id="UpdateModal<%=cus._id%>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/employee/update/<%= emp._id %>" method="POST">
                    Employee ID:
                    <input type="number" name="empId" value="<%= emp._id %>" disabled/>
                    <br /> FirstName:
                    <input type="text" name="firstname" value="<%= emp.firstName %>" />
                    <br /> LastName:
                    <input type="text" name="lastname" value="<%= emp.lastName %>" />
                    <br /> Extension:
                    <input type="text" name="Extension" value="<%= emp.extension %>" />
                    <br /> Password:
                    <input type="text" name="password" value="<%= emp.password %>" />
                    <br /> Office Code:
                    <input type="text" name="Officecode" value="<%= emp.officeCode %>" />
                    <br /> Report:
                    <input type="number" name="Report" value="<%= emp.reportsTo %>" />
                    <br /> Email:
                    <input type="text" name="email" value="<%= emp.email %>" />
                    <br /> Job Type:
                    <input type="text" name="job" value="<%= emp.jobTitle %>" />
                    <br />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>