<% include header.ejs %>
<p></p>
<script src ="http://kit.fontawesome.com/a076d05399.js"></script>

<head> 
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="p-4 col-12">
  <h4 class=" font-weight-bold page-header">Order</h4>
  <hr>
  <table class="table table-bordered table-sm">
    <thead style="background-color: #757574 ; color : white">
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Product Code</th>
        <th scope="col">Custumer ID</th>
        <th scope="col">QTY</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Required</th>
        <th scope="col">Data</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody style="background-color: #ccccc8 ; color : black">
      <% orders.forEach(function(or){ %>
        <tr>
          <td><%= or.orderNumber %></td>
          <td><%= or.productCode %></td>
          <td><%= or.customerNumber %></td>
          <td><%= or.quantityOrdered %></td>
          <td><%= or.priceEach %></td>
          <td><%= or.status %></td>
          <td><%= or.requiredDate %></td>
          <td></td>
          <td>
          <% include orderUpdate.ejs %>
            <button type="button"><i class="fa fa-trash"></i></button>
          <% include orderPayment.ejs %>
        </td>
      </tr>
    <% }) %>
  </table>
</div>
<% include orderAdd.ejs %>
<% include footer.ejs %>