<div id="UpdateModal<%=emp._id%>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headerModal">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="/product/update/<%= emp._id %>" method="POST">
                    Product Code:
                    <input type="text" name="proCode" value="<%= emp._id %>" disabled/>
                    <br /> productName:
                    <input type="text" name="productname" value="<%= emp.productName %>" />
                    <br /> productScale:
                    <input type="text" name="productscale" value="<%= emp.productScale %>" />
                    <br /> productVendor:
                    <input type="text" name="productvendor" value="<%= emp.productVendor %>" />
                    <br /> productLine:
                    <input type="text" name="productline" value="<%= emp.productLine %>" />
                    <br /> quantityInStock:
                    <input type="number" name="quantityinStock" value="<%= emp.quantityInStock %>" />
                    <br /> MSRP:
                    <input type="text" name="msrp" value="<%= emp.MSRP %>" />
                    <br /> buyPrice:
                    <input type="text" name="buyprice" value="<%= emp.buyPrice %>" />
                    <br /> productDescription:
                    <textarea rows="4" cols="50" name="description" form="usrform"><%= emp.productDescription %></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="Submit">Save changes</button></form>
            </div>
        </div>
    </div>
</div>