<% include header.ejs %>
    <% include stockProductModal.ejs %>
        <div class="p-4 col-12">

            <h4 class=" font-weight-bold page-header">Stock Product</h4>
            <hr>
            <table class="table table-bordered table-sm">
                <thead style="background-color: #757574 ; color : white">
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Line</th>
                        <th>Scale</th>
                        <th>Product Vendor</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <% products.forEach(function(emp){ %>
                    <tbody style="background-color: #ccccc8">
                        <tr>
                            <td>
                                <%= emp._id %>
                            </td>
                            <td>
                                <%= emp.productName %>
                            </td>
                            <td>
                                <%= emp.productLine %>
                            </td>
                            <td>
                                <%= emp.productScale %>
                            </td>
                            <td>
                                <%= emp.productVendor %>
                            </td>
                            <td>
                                <%= emp.quantityInStock %>
                            </td>
                            <td>
                                <%= emp.buyPrice %>
                            </td>
                            <td>
                                <div class="row m-0">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#UpdateModal<%=emp._id%>">
                <i class="fa fa-pen"></i></button>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#DelModal<%=emp._id%>">
                <i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
        </div>
        </td>
        </tr>
        </tbody>
        <% include stockModalupdate.ejs %>
            <% include stockDel.ejs %>
                <% }) %>
                    </table>
                    <button type="button" class="buttonAdd button5 addMenu" data-toggle="modal" data-target="#AddModal">Add</button>
                    <% include footer.ejs %>