<% include ../header.ejs %>
<p></p>
<script src ="http://kit.fontawesome.com/a076d05399.js"></script>
<script src="order.js"></script>

<head> 
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/order.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="p-4 col-12">
  <h3 class=" font-weight-bold page-header">Order</h3>
  <hr>
  <table class="table table-bordered table-responsive-xl table-sm">
    <thead style="background-color: #757574 ; color : white">
      <tr>
        <th style="width: 10%"><h3><small>Order Number</small></h3></th>
        <th style="width: 10%"><h3><small>Custumer ID</small></h3></th>
        <th style="width: 10%"><h3><small>Status</small></h3></th>
        <th style="width: 10%"><h3><small>Required</small></h3></th>
        <th style="width: 52%"><h5><small>Comments</small></h5></th>
        <th style="width: 8%"></th>
        </tr>
    </thead>
    <tbody style="background-color: #ccccc8 ; color : black">
      <% orders.forEach(function(or){ %>
        <tr>
          <td><h5><small><%= or._id %></small></h5></td>
          <td><h5><small><%= or.customerNumber %></small></h5></td>
          <td><h5><small><%= or.status %></small></h5></td>
          <td><h5><small><%= or.requiredDate %></small></h5></td>
          <td><h5><small><%= or.comments %></small></h5></td>
          <td>
            <button class="btn btn-outline-dark" action="/orderDetails/<%= or._id %>" method="get"><i class="fa fa-file"></i></button>
            <% include orderUpdate.ejs %>
            <% include deleteOrder.ejs %>
          </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class ="form-group col-12 col-md-12 px-0 d-flex">
    <% include orderAdd.ejs %>
  </div>

</div>

<% include ../footer.ejs %>
